<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unirse a Sala - PIEDRA | PAPEL | TIJERA</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="main.css">


</head>
<body>
    <h1>Unirse a Sala</h1>
    <form method="POST">
        <label for="room_id">Room ID:</label>
        <input type="text" id="room_id" name="room_id" required>
        <button type="submit">Go!</button>
    </form>

</p>
<a href="index.html">Regresar</a>
</body>
</html>
