<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion - PIEDRA | PAPEL | TIJERA</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="main.css">

    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="submit" value="Login">
    </form>
    <!-- Botón para ir a la página de registro -->
    <p>No tienes cuenta? <a href="register.html">Regístrate aquí</a></p>
</body>
</html>
