<!DOCTYPE html>
<html lang="en">
    
<head>

    <title>PIEDRA | PAPEL | TIJERA</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">

</head>
<body>
    <div id="game">


        <h1>PIEDRA | PAPEL | TIJERA</h1>
        <a href="{{ url_for('index') }}">Back to Home</a>

        <p>Room ID: {{ room_id }}</p>

        <div id="campo-batalla" class="campo-batalla">
            <div id="img-ataque-jugador" class="caja-batala"><!--<img class="img-batalla" src="assets/Papel.PNG" alt="">--></div>
            <div class="caja-batala"><p class="text-mensajes">VS</p></div>
            <div id="img-ataque-pc" class="caja-batala"><!--<img class="img-batalla" src="assets/Piedra.PNG" alt="">--></div>
        </div>
        <div>
            <p id="msj-batalla" class="text-mensajes"> </p>
        </div>
        <h2>Elije un ataque</h2>


        <img id="btn-piedra" class="btn-ataques" src="../assets/Piedra.PNG" alt="">
        <img id="btn-papel"  class="btn-ataques" src="../assets/Papel.PNG" alt="">
        <img id="btn-tijeras" class="btn-ataques" src="../assets/Tijeras.PNG" alt="">

        </p>
        
        <img id="btn-continuar" class="btn-ataques" src="../assets/Continuar.png" alt="">


    </div>
    <div id="result"></div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>


</head>
<body>

    <div>
        <h3>Player 1 Choice: <span id="player1_choice">Waiting for Player 1</span></h3>
        <h3>Player 2 Choice: <span id="player2_choice">Waiting for Player 2</span></h3>
        <p id="winner"></p>
    </div>

</body>
</html>
